/* Brand colors */
:root {
    --primary-color: #045F9F;
    --secondary-color: #047DD3;
    --tertiary-color: #5EBCFF;
}

@font-face {
    font-family: 'Cairo';
    src: url(../assets/fonts/static/Cairo-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Cairo', sans-serif;
    color: #333;
}

/* Button styles */
button, a.button {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    padding: 8px 24px;
    border: none;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 8px;
    transform: .4s linear;
}

button:hover {
    background-color: var(--primary-color);
}

button:active {
    background-color: var(--tertiary-color);
}

input {
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: var(--tertiary-color); /* Green border on focus */
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 26px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 700;
}
h5 {
    font-size: 16px;
    font-weight: 700;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
    font-size: 16px;
}

.container { 
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.column {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.justify-center {
    justify-content: center;
}
.justify-left {
    justify-content: left;
}
.justify-right {
    justify-content: right;
}
.align-center {
    align-items: center;
}
.align-left {
    align-items: left;
}
.align-right {
    align-items: right;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
    }

    .column {
        flex: 0 0 100%;
    }
}

/** Utility classes for margin and padding */
/* Padding classes */
.pt-10 {
    padding-top: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-30 {
    padding-top: 30px;
}

.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.p-30 {
    padding: 30px;
}

/* Margin classes */

.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-20 {
    margin-left: 20px;
}
.ml-30 {
    margin-left: 30px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-20 {
    margin-right: 20px;
}
.mr-30 {
    margin-right: 30px;
}

.m-10 {
    margin: 10px;
}
.m-20 {
    margin: 20px;
}
.m-30 {
    margin: 30px;
}

/* Header styles */
header {
    background-color: #fff;
    color: #2c2c2c;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1.header-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
}

header img.header-logo {
    width: 250px;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

/* Navbar styles */
nav.navbar {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
}

nav.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

nav.navbar ul li a {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

section {
    margin-bottom: 60px;
}

section.main-poster {
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left!important;
    color: #fff;
    padding: 40px;
}

section.main-poster .main-poster-text {
    display: flex;
    flex-direction: column;
    align-items: left!important;
    gap: 20px;

    max-width: 670px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    gap: 20px; /* Standardized gap */
}

section.about-us .about-us-text,
section.services .services-text,
section.card .card-text,
section.why-ziyadat .why-ziyadat-text {
    width: 50%;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px; /* Standardized gap */
}

section .services-image,
section .about-us-image,
section .card-image,
section .why-ziyadat-image {
    width: 50%;
}

section .services-image img,
section .about-us-image img,
section .card-image img,
section .why-ziyadat-image img {
    width: 100%;
    border-radius: 8px;
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    gap: 10px!important;
    padding: 0!important;
}

.who-we-are {
    align-items: center;
}

.who-we-are p {
    width: 80%;
    font-size: 19px;
    line-height: 1.5;
}

.what-is-islamic-finance {
    background-color: #f1f1f1;
    align-items: center;
}

.our-mission-vision {
    position: relative;
    background-image: url(../assets/images/about-us-poster.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.our-mission-vision .content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.our-mission-vision .content p {
    font-size: 22px;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.values {
    background-color: var(--tertiary-color);
    text-align: center;
    max-width: 800px;
    border-radius: 12px;
}

.values h2 {
    color: var(--primary-color)
}

.values strong {
    color: var(--primary-color)
}

.values h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.values ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.values li {
    display: flex;
    align-items: center;
    background-color: #ffffff; /* White background for each item */
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.values li::before {
    content: "-"; /* Add a checkmark icon */
    font-size: 18px;
    color: var(--secondary-color); /* Green color for the icon */
    margin-right: 15px;
}

.values li span {
    font-size: 16px;
    color: #555; /* Slightly darker text for readability */
    line-height: 1.5;
}

.commitment {
    background-color: #f1f1f1;
    text-align: center;
    gap: 5px!important;
}

.commitment p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    width: 80%;
}

.contact-us {
    background-color: var(--tertiary-color);
}

.contact-us p, .contact-us a {
    margin-bottom: 0px!important;
    color: white;
    font-size: 18px;
}

.our-services {
    background-color: #f1f1f1;
}

.our-services p {
    font-size: 23px;
    color: #555;
    line-height: 1.6;
    width: 70%;
}

.service {
    background-color: #f1f1f1;
    text-align: center;
    gap: 5px!important;
}

.service img {
    width: 500px;
    border-radius: 8px;
}

.service ul li {
    font-size: 20px;
}

.card-tariff-container h1 {
    font-size: 32px;
    color: var(--primary-color);
}

table.card-tariffs {
    border-collapse: collapse;
    font-size: 18px;
    border: 1px solid #ddd;
    float: center;
}

table.card-tariffs th, table.card-tariffs td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
    width: 200px;
    font-weight: 400;
}
